<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user_validation" method="post">
        <label for="user">Enter username:</label>
        <input type="text" name="user"><br><br>
        <label for="password">Enter unique password:</label>
        <input type="text" name="password"><br><br>
        <button id="submit">Create account</button>
    </form>
    <script>
        
    </script>
</body>
</html>